/*****Font face rules*****/
@font-face {
    font-family: 'Merienda One';
    src: url('../fonts/Merienda-One.ttf.eot');
    src: url('../fonts/Merienda-One.ttf.eot?#iefix') format('embedded-opentype'), url('../fonts/Merienda-One.ttf.woff') format('woff'), url('DroidSans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSans-webfont.woff') format('woff'), url('../fonts/DroidSans-webfont.ttf') format('truetype'), url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****Basic Elements*****/
html {
    background: url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
}

img {
    width: 100%;
}

div.ui-view-default {
    height: 100%;
}

/*****Basic Layout*****/
/**Popup**/
div.popup {
    background-color: #11b4d1;
}

    div.popup h3.popup-title {
        color: white;
    }

    div.popup input.ng-pristine {
        border: 2px solid #dadada;
        border-radius: 7px;
    }

        div.popup input.ng-pristine:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }

/*Scrum card*/
button.btn-card-footer {
    font-size: 0.7em !important;
    margin-top: -0.9em;
    margin-right: -1.1em;
}

/*****Generic Classes*****/
.mk-item > .item-content {
    padding: 0;
}

.mk-radio {
    border: none;
}

button.button.mk-button-block-submit {
    top: 1em;
    margin: auto;
    width: 92%;
}

/*IONIC extend css*/
.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

.col-35 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 35.3333%;
    -ms-flex: 0 0 35.3333%;
    flex: 0 0 35.3333%;
    max-width: 35.33%;
}
