/******Details******/
/*
green: #308980;
gray: #f1f1f3;
white: white;
*/

* {
    /*font-family: Open Sans;*/
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

img {
    width: 100%;
}

div.ui-view-default {
    height: 100%;
}

/*IONIC extend css*/
.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

.col-35 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 35.3333%;
    -ms-flex: 0 0 35.3333%;
    flex: 0 0 35.3333%;
    max-width: 35.33%;
}

div.popup {
    background-color: #62a8a6;
}

    div.popup h3.popup-title {
        color: white;
    }

    div.popup input.ng-pristine {
        border: 2px solid #dadada;
        border-radius: 7px;
    }

        div.popup input.ng-pristine:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }

/*Scrum card*/
button.btn-card-footer {
    font-size: 0.7em !important;
    margin-top: -0.9em;
    margin-right: -1.1em;
}

