<!-- A container for content, used to tell a parent ionNavBar about the current view. -->
<!-- We use it also to trick windows phone, so we can use animation transition for pages -->
<ion-view title="{{projectTitle}}" class="project" data-ng-init="init()">
    <!-- HEADER -->
    <ion-nav-bar class="bar-maky bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios7-arrow-back" on-tap="goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-plus-round" on-tap="showModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
 
    <!-- FOOTER tab menu -->
    <ion-tabs class="tabs-maky tabs-positive tabs-icon-only">

        <ion-tab title="Todo" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" href="#/project/todo">
            <ion-nav-view name="todo">
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="InProgress" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline" href="#/project/progress">
            <ion-nav-view name="progress">
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Done" icon-on="ion-ios7-checkmark" icon-off="ion-ios7-checkmark-outline" href="#/project/done">
            <ion-nav-view name="done">
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>


</ion-view>
