<div class="home">
    <aside class="left-border"></aside>
    <div class="ionic-logo">
        <a href="#" class="button button-icon icon ion-ionic"></a>
    </div>
    <div class="logo row">
        <img class="row" src="../../../images/logonote.png" />
    </div>
    <div class="btn-grp row">
        <div class="col col-center">
            <a class="button" ui-sref="project.todo">
                <img src="../../../images/add.png" />
            </a>
        </div>
    </div>
    <footer>
        <button class="hrefLoad" on-tap="testLoad()">Load Project</button>
    </footer>
</div>