<div class="home">
    <div class="ionic-logo">
        <a href="#">
            <img src="../../../images/ionic.png" />
        </a>
    </div>
    <div class="logo row">
        <img class="row" src="../../../images/logomaky.png" />
    </div>
    <div class="home-title row">
        <p class="col">... scrum planner</p>
    </div>
    <div class="btn-grp row">
        <div class="col">
            <a class="button button-full button-stable" href="#project">New Project</a>
            <a class="button button-full button-stable" href="#">Load Project</a>
        </div>
    </div>
</div>

