<div class="mk-overlay">
</div>
<ion-pane class="mk-body">
    <ion-content>
        <h1 class="mk-title">Maky</h1>
        <p class="mk-sub-title">Lightweight scrum planner</p>
    </ion-content>
    <footer id="mk-footer">
        <a class="button button-full button-positive mk-footer-button" ui-sref="project.todo">
            New Project
        </a>
        <a class="button button-full button-positive mk-footer-button mk-light" on-tap="loadProject()">
            Load
        </a>
    </footer>
</ion-pane>
