<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive" style="position: relative;">
        <button class="button button-icon icon ion-ios7-minus-outline"
                on-tap="deleteButton.showDelete = !deleteButton.showDelete"></button>
        <h1 class="title">Load Project</h1>
        <button class="button button-clear button-primary icon ion-close-round" on-tap="filePicker.hide()"></button>
    </ion-header-bar>
    <ion-list show-delete="deleteButton.showDelete"
              can-swipe="listCanSwipe">
        <ion-item ng-repeat="project in projects"
                  item="project"
                  class="mk-item">
            <ion-radio class="mk-radio"
                       ng-model="selectedProject.name"
                       ng-value="project">
                {{project}}
                <ion-delete-button class="ion-minus-circled"
                                   on-tap="projects.splice($index, 1)">
                </ion-delete-button>
            </ion-radio>
        </ion-item>
    </ion-list>
    <button class="button button-block button-positive mk-button-block-submit"
            on-tap="loadProject(selectedProject)">
        Load
    </button>
</ion-modal-view>