<div class="list">
    <label class="item item-radio">
        <input type="radio" name="group" ng-model="move.pageId" value="todo">
        <div class="item-content">
            To-Do
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio">
        <input type="radio" name="group" ng-model="move.pageId" value="progress">
        <div class="item-content">
            In progress
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio">
        <input type="radio" name="group" ng-model="move.pageId" value="done">
        <div class="item-content">
            Done
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>